{% extends "base.html" %}
    {% block content %}
    <div class="container mx-auto px-4 py-8">
        {% if messages %}
            <ul class="mb-4">
                {% for message in messages %}
                    <li class="p-2 rounded {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1 class="text-3xl font-bold text-gray-800 mb-4">Welcome to AccsyBiz</h1>
        <p class="text-gray-600 mb-8">Find accessible businesses in Chicago</p>
        
        <div id="map" class="h-96 w-full rounded-lg shadow-lg"></div>
        <div class="mt-8">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">How It Works</h2>
            <p class="text-gray-600">
                AccsyBiz uses business license data from the Chicago Data Portal to provide information about businesses in Chicago. By analyzing accessibility attributes, we help users find businesses that cater to their needs. Simply browse the map or use the search functionality to explore accessible businesses near you.
                In order for an accessibility feature to be accepted, at least 2 upvotes is required.
            </p>
        </div>
        {{ places|json_script:"places" }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let places = JSON.parse(document.getElementById('places').textContent);
            var map = L.map('map').setView([41.8781, -87.6298], 13);
            
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            
            places.forEach(place => {
                let marker = L.marker([place.latitude, place.longitude], {title: place.name + " | " + place.address}).addTo(map)
                const placeDetailUrlPattern = "{% url 'place_detail' 0 %}".replace('0', 'PLACE_ID');
                
                // Create feature list
                let featuresList = '';
                if (place.feature_labels && place.feature_labels.length > 0) {
                    featuresList = '<br>Features: ' + place.feature_labels.join(', ');
                }
                
                marker.bindPopup(`<b>${place.name}</b><br>${place.category}<br>ID: ${place.id}<br><a href="${placeDetailUrlPattern.replace('PLACE_ID', place.id)}" target="_blank">More Info</a>${featuresList}`);
            })

            // PinSearch component
            var searchBar = L.control.pinSearch({
                position: 'topright',
                placeholder: 'Search...',
                buttonText: 'Search',
                onSearch: function(query) {
                    console.log('Search query:', query);
                    // Handle the search query here
                },
                searchBarWidth: '200px',
                searchBarHeight: '30px',
                maxSearchResults: 10
            }).addTo(map);

        });
    </script>
    {% endblock %}

